@model CommentViewModel


<div class="row mt-5 bg-transparent">
    <h1 class="text-light">Comments</h1>
    <div class="container mt-5" id="comments-button">
        @foreach (var comment in Model.Comments)
        {
            <div class="d-flex justify-content-center row">
                <div class="col-12">
                    <div class="d-flex flex-column ">
                        <div class="bg-transparent p-2 mt-2 mb-3">
                            <div class="d-flex flex-row">
                                @*<img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="50">*@
                                <div class="d-flex flex-column justify-content-start ml-2">
                                    <span class="d-block font-weight-bold text-light">@comment.UserUsername</span><span class=" text-light">Commented on: Jan 2020</span>
                                </div>
                            </div>
                            <div class="mt-2 ml-3 text-light">
                                <p>@comment.Content</p>
                            </div>
                            <div class="bg-transparent ml-2">
                                <div class="d-flex flex-row fs-12">
                                    <button class="btn btn-primary btn-sm shadow-none mr-3" type="button">
                                        <i class="fa fa-commenting-o"></i><span class="ml-1">Comments</span>
                                    </button>
                                    @*<section>
                                            <button class="btn btn-primary btn-sm shadow-none mr-3" type="button">
                                                <i class="fa fa-thumbs-o-up">
                                                </i><span class="ml-1">Like</span>
                                            </button>
                                        </section>*@
                                </div>
                            </div>
                        </div>

                        <div class="bg-transparent p-2 ml-3" style="display: none;">
                            @if (this.User.Identity.IsAuthenticated)
                            {

                                <h5 class="text-light">Add Reply</h5>

                                Model.ReplyToBeAdded.CommentId = comment.Id;

                                <partial name="_ReplyFormPartial" model="@Model.ReplyToBeAdded" />
                            }

                            <h3 class="text-light">Replies</h3>
                            @foreach (var reply in comment.Replies)
                            {
                                <partial name="_ReplyPartial" model="reply" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>