@model ReplyServiceModel

<div class="bg-transparent p-2 mt-2 mb-3 border-top border-secondary ">
    <div class="d-flex flex-row user-info ">
        <div class="d-flex flex-column justify-content-start ml-2">
            <span class="d-block font-weight-bold name text-light">@Model.UserUsername</span>
            <span class="text-light">Replied on: @Model.CreatedOn</span>
        </div>
    </div>
    <div class="mt-2 ml-2 text-light">
        <p>@Model.Content</p>
    </div>
    @if (this.User.GetId() == Model.UserId)
    {
        Model.DeleteModel.UserId = Model.UserId;
        <div class="float-right">
            <partial name="_DeleteReplyFormPartial" model="@Model.DeleteModel" />
        </div>
    }


</div>