@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


<div>
    @if (!User.Identity.IsAuthenticated)
    {
        <h5>Not registered? Click <a href="/Account/Register">here.</a></h5>
    }
    <h1>Most Recent Weapons Added:</h1>
    <div class="row">
        @foreach (var weapon in Model.Weapons)
        {
            <partial name="_WeaponPartial" model="weapon" />
        }
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <h3>Want to add one yourself? Click <a href="/Weapons/Add">here.</a></h3>
    }
</div>
