@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-info">Welcome</h1>
    <h2 class="text-light">In this site you can see the creativity of the destiny community and/or you can become part of that community.</h2>

</div>


<div class="mt-5">

    @if (!User.Identity.IsAuthenticated)
    {
        <h5 class="text-info text-center mb-5">Not registered? <a href="/Account/Register">Click here.</a></h5>
    }
    <h2 class="text-info text-center">
        See some of the most recent creations
    </h2>
    <h1 class="text-primary text-center mt-4">Most Recent Weapons Added</h1>
    <div class="row">
        @foreach (var weapon in Model.Weapons)
        {
            <partial name="_WeaponPartial" model="weapon" />
        }
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <h3 class="text-info">Want to add one yourself? <a href="/Weapons/Add">Click here.</a></h3>
    }
    <h1 class="text-primary text-center mt-5">Most Recent Armors Added</h1>
    <div class="row">
        @foreach (var armor in Model.Armors)
        {
            <partial name="_ArmorPartial" model="armor" />
        }
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <h3 class="text-info">Want to add one yourself? <a href="/Armors/Add">Click here.</a></h3>
    }
</div>
