@model AddArmorFormModel

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Gjalarhorn...">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IntrinsicName"></label>
        <input type="text" class="form-control" asp-for="IntrinsicName" placeholder="Wolfpack Rounds...">
        <span asp-validation-for="IntrinsicName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IntrinsicDescription"></label>
        <textarea class="form-control" asp-for="IntrinsicDescription" rows="5"></textarea>
        <span asp-validation-for="IntrinsicDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <input type="text" class="form-control" asp-for="ImageUrl" rows="5" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Class"></label>
        <select class="form-control" asp-for="Class">
            @foreach (var characterClass in Enum.GetNames(typeof(CharacterClass)))
            {
                <option value="@characterClass">@characterClass</option>
            }
        </select>
        <span asp-validation-for="Class" class="text-danger"></span>
    </div>
    <input type="submit" name="Submit" value="Submit" class="btn btn-primary" />
</form>