@model AddWeaponFormModel

<form method="post">
    <div class="form-group">
        <label asp-for="Name">Exotic Weapon Name</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Gjalarhorn...">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IntrinsicName">Name for intrinsic</label>
        <input type="text" class="form-control" asp-for="IntrinsicName" placeholder="Wolfpack Rounds...">
        <span asp-validation-for="IntrinsicName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IntrinsicDescription">Describe what the intrinsic will do</label>
        <textarea class="form-control" asp-for="IntrinsicDescription" rows="5"></textarea>
        <span asp-validation-for="IntrinsicDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CatalystName">Name for catalyst</label>
        <input type="text" class="form-control" asp-for="CatalystName" placeholder="Wolfpack Rounds...">
        <span asp-validation-for="CatalystName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CatalystCompletionRequirement">Describe how the catalyst should be completed</label>
        <textarea class="form-control" asp-for="CatalystCompletionRequirement" rows="5"></textarea>
        <span asp-validation-for="CatalystCompletionRequirement" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CatalystEffect">Describe what the catalyst does</label>
        <textarea class="form-control" asp-for="CatalystEffect" rows="5"></textarea>
        <span asp-validation-for="CatalystEffect" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl">ImageURL</label>
        <input type="text" class="form-control" asp-for="ImageUrl" rows="5" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ClassId">Weapon Class</label>
        <select class="form-control" asp-for="ClassId">
            @foreach (var weaponClass in Model.Classes)
            {
                <option value="@weaponClass.Id">@weaponClass.Name</option>
            }
        </select>
        <span asp-validation-for="ClassId" class="text-danger"></span>
    </div>
    <input type="submit" name="Submit" value="Submit" class="btn btn-primary" />
</form>