@model List<WeaponServiceModel>

@{
    ViewBag.Title = "My Weapons";
}

<div class="album py-5 bg-transparent">
    <div class="container mt-4 bg-transparent">
        @if (!Model.Any())
        {
            <h2 class="text-center">You do not have any weapons yet!</h2>
        }
        else
        {
            <div class="row">
                @foreach (var weapon in Model)
                {
                    <partial name="_WeaponPartial" model="weapon" />
                }
            </div>
        }
    </div>
</div>